body {
    background-color: #c27364;
}

header {
    font-family: 'Quicksand', sans-serif;
}

header #ceiling{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width: 100px;
    padding: 15px;
    border-radius: 10px;
}

header #floor {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 1em;
    background-color: #696969;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

footer{
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding: 1em;
}

footer #top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1em;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    border-bottom-style: solid;
    border-color: #808c92;
}

#datediv {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding: 15px;
}

#footeryear {
    margin-right: 10px;
}

header, footer, nav {
    background-color: #244964;
    color: white;
}

header a, footer a {
    color: white;
}

a img {
    max-width: 40px;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;

}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0,0,0,0.5)
}

nav ul li.active a {
    background-color: #696969;
    color: #fff;
}

nav ul li a:hover {
    background-color: #808c92;
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

#msg-box, .s3 {
    display: none;
}

#msg {
    text-align: center;
    padding-bottom: 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
}

main div {
    margin: 0.5rem;
	background-color: #29aed6;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    /*padding: 15px 0;*/
}

.hero {
    position: relative;
    /*background-image: url(../images/owasso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;*/
}

.hero h2 {
    position: absolute;
    font-size: 20px;
    color: black;
    padding-left: 15px;
}

.hero picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#joinBtn {
    position: absolute;
    right: 40px;
    bottom: 40px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    background-color: green;
    color: white;
}

.newsrelease {
    padding: 15px;
}

.event {
    padding: 15px;
}

.weather img {
    max-width: 100px;
    padding: 15px;
    margin: 0 auto;
    display: block;
}

.weather h1, .weather h3 {
    padding: 25px;
}

.s1, .s2, .newsrelease, .event, .weather h2, .weather p {
    text-align: center;
}

.s1 img, .s2 img, .s3 img {
    max-width: 100px;
    padding: 15px;
}

.weather h1, .weather h3 {
    text-align: center;
}

#wind, #s1contact, #s2contact, #s3contact {
    border-top-style: solid;
    text-align: center;
}

#ws, #wc {
    margin-left: 30px;
}

.spotlights {
    padding: 15px;
}

.s1, .s2 {
    outline-style: solid;
    outline-width: thin;
    padding: 15px;
}

.join {
    display: none;
    text-align: center;
    padding: 25px;
}

#joinUsBtn {
    margin: 0 auto;
    padding: 15px 100px 15px 100px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    background-color: green;
    color: white;
}

.discover {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, auto);
    padding: 15px;
}

.discover section {
    margin: 0.5rem;
    background-color: #29aed6;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
}

.discover section picture img {
    display: block;
    filter: blur(0.0em);
    transition: filter 10s;
    width: 300px;
    height: 400px;
    margin: 5px;
}

.discover section picture img[data-src] {
    filter: blur(0.1em);
    width: 300px;
    height: 400px;
}

.discover h3 {
    text-align: center;
}

.discover p {
    font-family: 'Poppins', sans-serif;
}