@media only screen and (min-width: 960px) {
    #hamburgerBtn {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        justify-content: center;
        margin-left: 2vw;
        border-left: 1px solid rgba(0,0,0,0.3);
    }
    
    nav ul li a {
        padding: .5rem 1rem;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: minmax(100px, auto);;
    }

    .event {
        grid-column: 1;
        grid-row: 1;
    }

    .event h2 {
        margin-top: 25px;
    }

    .weather {
        grid-column: 1;
        grid-row: 2;
    }

    .weather h2 {
        margin-top: 75px;
    }

    .join {
        grid-column: 1;
        grid-row: 3/5;
    }

    #joinUsBtn {
        padding: 15px 80px 15px 80px;
    }

    .join #joinUsBtn {
        margin-top: 150px;
    }

    .hero {
        grid-column: 2/3;
        grid-row: 1/3;
        /*height: 94%;*/
    }

    .newsrelease {
        grid-column: 2/3;
        grid-row: 3/5;
    }

    .spotlights {
        grid-column: 3;
        grid-row: 1/5;
        display: grid;
        flex-direction: column;
        justify-content: center;
    }
    
    .s1 .s2 .s3 {
        padding: 5px;
        width: 70%;
    }
    
    .s1 {
        /*grid-column: 3;
        grid-row: 1;*/
        outline-style: solid;
        outline-width: thin;
        height: 20em;
        margin-top: 50px;
    }

    .s2 {
        /*grid-column: 3;
        grid-row: 2;*/
        outline-style: solid;
        outline-width: thin;
        height: 20em;
    }

    .s3 {
        display: block;
        /*grid-column: 3;
        grid-row: 3;*/
        outline-style: solid;
        outline-width: thin;
        text-align: center;
        height: 20em;
    }

    footer #top {
        flex-direction: row;
    }

    /* Join page */

    section div, .mlb {
        margin: 0 auto;
        width: 75%;
    }

    /* Directory page */

    #cardview {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: minmax(100px, auto);
    }

/*
    div{
        border: 2px black solid;
    }
    */
}