header h1,.cards h2, .cards p, footer {
    text-align: center;
}

header h1,.cards h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #004526;
}

.cards p, footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cards {
    margin: 0 auto;
    border: 1px solid darkgreen;
    padding: 15px;
    background-color: lawngreen;
}

.cards section {
    margin: 5px;
    border: 1px solid darkgreen;
    padding: 50px;
    background-color: greenyellow;
}

.cards img {
    border-collapse: collapse;
    box-shadow: 10px 10px 10px darkgreen;
    max-width: 100%;
}

footer {
    padding: 25px;
}

@media only screen and (min-width: 600px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(100px, auto);
    }
}

@media only screen and (min-width: 960px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: minmax(100px, auto);
    }
}