body {
    background-color: #DA70D6;
    padding: 15px;
}

header {
    font-family: 'Nunito Sans', sans-serif;
}

header #ceiling{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a img {
    padding: 15px;
    border-radius: 15px;
}

header h1 {
    font-family: 'PT Sans', sans-serif;
}

footer{
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding: 1em;
}

footer #top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1em;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    border-bottom-style: solid;
    border-color: #770737;
}

#datediv {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding: 15px;
}

#footeryear {
    margin-right: 10px;
}

header, footer, nav {
    color: white;
}

header, footer {
    background-color: #9F2B68;
}

nav {
    background-color: #770737;
}

nav a img {
    max-width: 40px;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;

}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0,0,0,0.5)
}

nav ul li.active a {
    background-color: #DA70D6;
    color: #fff;
}

nav ul li a:hover {
    background-color: white;
    color: black;
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* Index.html/Services.html/Reception.html */
main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
}

main div {
    margin: 0.5rem;
	background-color: #BF40BF;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    padding: 15px 0
}

.summary, .services, .accommodations, .foodservice, .setup {
    position: relative;
    text-align: center;
    padding: 15px;
}

.summary picture img {
    object-fit: cover;
}

.summary p, .services ul li, .accommodations ul li, .foodservice ul li, .setup ul li, .foodservice p, .setup p {
    color: white;
}

.services ul li, .accommodations ul li, .foodservice ul li, .setup ul li {
    text-align: left;
    padding: 5px;
}

.callAction, .reception, .missionary {
    text-align: center;
    padding: 25px;
}

#hotelReserveBtn, #receptionInfoBtn, #missionaryInfoBtn {
    margin: 0 auto;
    padding: 15px 50px 15px 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    background-color: darkblue;
    color: white;
}

#hotelReserveBtn:hover, #receptionInfoBtn:hover, #missionaryInfoBtn:hover {
    background-color: blue;
}

/* Index.html */
.weather figure img {
    max-width: 100px;
    padding: 15px;
    margin: 0 auto;
    display: block;
}

.weather h1 {
    padding: 25px;
}

.weather h2, .weather figure figcaption, .weather h1, .weather h3, #wind {
    text-align: center;
}

.weather figure figcaption {
    font-size: 20px;
}

#wind {
    border-top-style: solid;
}

#ws, #wc, #humid {
    margin-left: 30px;
}

/* Temple.html */
.templeDirectory {
    display: block;
}

#templeheader {
    background-color: #BF40BF;
    padding: 25px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

#cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, auto);
    background-color: #BF40BF;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    padding: 25px;
}

#cards section {
    margin: 15px;
    padding: 25px 15px 25px 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: purple;
}

#cards img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 25px;
}

 #cards h2, #cards p, #cards ul, #cards li {
    text-align: center;
    color: white;
}

#cards li {
    list-style-type: none;
}

#cards input {
    width: 1em;
    height: 1em;
    margin: 1em;
}

#cards label {
    color: white;
}

/* Reservation.html/Thanks.html */ 
/* Missionary.html/Thankyou.html */
.reserveHotel, .templeMissionary, .hotelReserved, .contactSent {
    display: block;
}

.reserveHotel section, .templeMissionary section, .hotelReserved section, .contactSent section {
    margin: 8px;
    background-color: #BF40BF;
    font-family: 'Poppins', sans-serif;
    padding: 25px;
}

.reserveHotel h1, .suites h1, .suites h2, .contactTemple h1, .hotelReserved section, .contactSent section {
    text-align: center;
}

.contactTemple h3 {
    text-align: left;
}

.hotelReserved section, .contactSent section {
    color: white;
}

form fieldset {
    margin: 32px 0;
    border: 2px solid #770737;
    border-radius: 16px;
    padding: 8px 24px 2rem;
}

label.myInput {
    display: block;
    padding-top: 16px;
}

label.myInput input, label.myInput textarea {
    display: block;
    font-size: 20px;
    padding: 8px;
    width: 96%;
    max-width: 20rem;
    border-radius: 8px;
}

label.myRadio {
    display: block;
    padding: 10px 0;
}

label.myRadio input {
    margin-right: 8px;
    font-size: 24px;
}

.mySubmit {
    background-color: darkblue;
    color: white;
    margin: 16px 0 0 0;
    padding: 16px;
    width: 96%;
    max-width: 20rem;
    border-radius: 16px;
    font-size: 24px;
}

.mySubmit:hover {
    background-color: blue;
}

label.myInput input:required {
    border-left: red solid 6px;
    border-right: red solid 6px;
}

label.myInput input:required:hover {
    background-color: red;
    border-left: black solid 3px;
    border-right: black solid 3px;
}

label.myInput input:required:valid {
    border-left: green solid 6px;
    border-right: green solid 6px;
}

label.myInput input:required:valid:hover {
    background-color: green;
    border-left: black solid 3px;
    border-right: black solid 3px;
}
