@media screen and (min-width: 64rem) {
    #hamburgerBtn {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2vw;
        /*border-left: 1px solid black;*/
    }
    
    nav ul li a {
        padding: .5rem 1rem;
    }

    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    main div:nth-child(3) {
        grid-column: span 1;
    }

    .weather {
        grid-column: 1;
        grid-row: 1;
    }

    .summary {
        grid-column: 2;
        grid-row: 1;
    }

    .callAction {
        grid-column: 3;
        grid-row: 1;
        padding: 200px 25px 100px 25px;
    }

    footer #top {
        flex-direction: row;
    }

    /* Temple.html */
    #cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: minmax(100px, auto);
    }
    
    }